Package: localhost-control-center
Version: 1.0.0
Section: devel
Priority: optional
Architecture: all
Depends: apache2, php, php-cli, php-mysql, php-zip, php-json, php-curl, php-mbstring, php-xml, composer, mariadb-server, curl, git, wget, xdg-utils, zip, unzip, imagemagick
Maintainer: Mustafa Satılmıs <github.com/mustafao9>
Description: Developer cPanel and Environment Manager for Localhost PHP Development
 Localhost Control Center (LCC) is a modular control panel designed
 by Mustafa Satilmis to streamline local PHP development with secure ENV 
 configuration, automated database creation, Composer terminal, and backup management.
