[Desktop Entry]
Version=1.0.2
Name=Localhost Control Center
Comment=Apache, MariaDB ve PHP Geliştirici Yönetim Merkezi
Exec=/usr/local/bin/lcc-control-center
Icon=localhost-control-center
Terminal=false
Type=Application
Categories=Development;Network;
